<h1 class="p-3">Task List</h1>
<ul class="list-unstyled p-3">
  <% @tasks.each do |task| %>
    <li class="link-unstyled">
      <% if task.completed %>
        <i class="fa-regular fa-square-check"></i>
      <% else %>
        <i class="fa-regular fa-square"></i>
      <% end %>

      <%= link_to(edit_task_path(task)) do %>
        <%= task.title %>
        <%= task.details %>
      <% end %>

      <%= link_to destroy_path(task), data: {turbo_method: :delete, turbo_confirm: "Delete #{task.title}?"} do %>
        <i class="fa-solid fa-trash "></i>
      <% end %>
    </li>
  <% end %>
</ul>
